<ion-item-sliding>
  <ion-item class="task-item" [class.completed]="task.completed" (ionChange)="onToggle()">
    <ion-checkbox slot="start" [checked]="task.completed" class="task-checkbox"></ion-checkbox>
    <ion-label>
      <div class="task-title" [class.completed]="task.completed">
        {{ task.title }}
      </div>
    </ion-label>
    @if (category) {
      <ion-badge slot="end" color="light" class="category-badge">
        {{ category.emoji }}
      </ion-badge>
    }
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="danger" (click)="onDelete()">
      <ion-icon slot="icon-only" [icon]="trash"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
